.login-title{
    text-align: center;
}

.login-form{
    display: flex;
    flex-direction: column;

    gap: 1em;
    max-width: 40ch;
    margin-inline: auto;
}

.login-error-msg{
    text-align: center;
    color: rgb(194, 0, 0);
}

.login-btns{
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
}