.page-wrapper{
  display: flex;
}

.side-menu{
  max-width: fit-content;
  min-height: calc(100vh - 144px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.side-menu-btn{
  border-radius: 50%;
  padding: .75rem;
  background-color: #8ab1f8;
}

.outlet-wrapper{
  max-width: 1280px;
  margin: 2rem auto 0 auto;
  flex-grow: 1;
}

/* General styling */

h2{
  margin-block: 1em;
}